.card {
  min-width: 300px;
}

.card-header {
  padding: 1px 6px;
}

.card-body {
  padding: 6px 0;
  padding-bottom: 0;
}

.kanban-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kanban-list-title button {
  margin-left: 1px;
}

.kanban-list-card {
  margin-top: 6px;
}

.kanban-list-title-actions {}