<div class="card" style="background-color: lightblue">
  <div class="card-header">
    <div class="kanban-list-title">
      <span>
        <i class="fas fa-columns"></i>
        {{list.title}}
      </span>
      <span class="kanban-list-title-actions">
        <button type="button" class="btn btn-light btn-small" (click)="createCard()">
          <i class="far fa-address-card"></i>
        </button>
        <button type="button" class="btn btn-light" (click)="deleteList()">
          <i class="far fa-trash text-danger"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="card-body">
    <div class="kanban-list-card" *ngFor="let card of list.cards">
      <kanban-card [card]="card" (delete)="deleteCard($event)"></kanban-card>
    </div>
  </div>
</div>