.kanban-board {
  height: 100%;
  width: 100%;
}

.kanban-board .card-body {
  overflow-x: scroll;
  white-space: nowrap;
}

.kanban-board-list {
  display: inline-block;
  max-width: 400px;
  min-width: 300px;
  margin-left: 3px;
  margin-right: 3px;
}

.kanban-board-list:first-child {
  margin-left: 0;
}

.kanban-board-list:last-child {
  margin-right: 0;
}

.card-header {
  padding: 1px 6px;
}

.card-body {
  padding: 6px;
}

.kanban-board-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}